.task-card {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 20px;

  .left {
    width: 100%;

    .task-title {
      font-weight: 500;
      color: #607d8b;
      font-size: 17px;
      -webkit-font-smoothing: antialiased;
      margin-bottom: 0px;

      &.completed {
        text-decoration: line-through;
      }
    }
  }

  .right {
    text-align: center;
    display: flex;
    align-items: center;
    padding-right: 10px;
    gap: 10px;
  }
}