<mat-card *ngIf="task" class="task-card">
  <div class="left">
    <h3 class="task-title" [ngClass]="{ completed }" [textContent]="task.title"></h3>
  </div>

  <div class="right">
    <button [matTooltip]="'TASKS.LIST.TASK.DELETE' | translate" mat-icon-button (click)="onDelete()">
      <mat-icon>close</mat-icon>
    </button>

    <mat-checkbox
      color="primary"
      [matTooltip]="(completed ? 'TASKS.LIST.TASK.MARK_AS_ONGOING' : 'TASKS.LIST.TASK.MARK_AS_DONE') | translate"
      [(ngModel)]="completed"
      (change)="onCheck($event)"
    ></mat-checkbox>
  </div>
</mat-card>
