.task-list-container {
  padding: 20px;
  background: #c7cbcd;
  border-radius: 5px;
}

.task-item {
  margin-bottom: 10px;
}

.list-section {
  &:not(:last-of-type) {
    margin-bottom: 50px;
  }

  .list-section-title {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 12px;
  }
}

.project-title {
  font-size: 35px;
  font-weight: 500;
}

.project-description {
  margin-bottom: 50px;
}