<div class="task-list-container" *ngIf="project">
  <h1 class="project-title" [textContent]="project.title"></h1>
  <p class="mb20" [textContent]="project.description"></p>

  <div class="task-list mt30">
    <div class="text-center mb30">
      <button mat-flat-button color="primary" class="" (click)="addOneTask()">
        <mat-icon>add</mat-icon>
        {{ 'TASKS.ADD' | translate }}
      </button>
    </div>

    <div class="list-section" *ngIf="onGoingTasks && onGoingTasks.length > 0">
      <div class="list-section-title">{{ 'TASKS.LIST.ONGOING' | translate }} ({{ onGoingTasks.length }})</div>

      <div class="task-item" *ngFor="let task of onGoingTasks">
        <app-project-task
          [task]="task"
          (updated)="updated.emit($event)"
          (deleted)="deleted.emit($event)"
        ></app-project-task>
      </div>
    </div>

    <div class="list-section" *ngIf="completedTasks && completedTasks.length > 0">
      <div class="list-section-title">{{ 'TASKS.LIST.COMPLETED' | translate }} ({{ completedTasks.length }})</div>

      <div class="task-item" *ngFor="let task of completedTasks">
        <app-project-task
          [task]="task"
          (updated)="updated.emit($event)"
          (deleted)="deleted.emit($event)"
        ></app-project-task>
      </div>
    </div>
  </div>
</div>

<app-modal #modal [title]="'TASKS.MODAL.TITLE' | translate">
  <div part="body">
    <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="submitForm()">
      <mat-form-field appearance="outline">
        <mat-label [textContent]="'TASKS.MODAL.FORM.TITLE.LABEL' | translate"></mat-label>
        <input
          matInput
          required
          [placeholder]="'TASKS.MODAL.FORM.TITLE.PLACEHOLDER' | translate"
          [formControlName]="controlNames.TITLE"
        />

        <mat-error *ngIf="titleCtrl?.invalid && (titleCtrl?.dirty || titleCtrl?.touched)">
          <div *ngIf="titleCtrl?.hasError('required')">{{ 'TASKS.MODAL.FORM.TITLE.REQUIRED' | translate }}</div>
        </mat-error>
      </mat-form-field>
    </form>
  </div>

  <div part="footer" class="w-100 d-flex justify-content-between">
    <button
      mat-flat-button
      type="button"
      [textContent]="'TASKS.MODAL.FORM.ACTIONS.CANCEL' | translate"
      (click)="modal.close('cancel')"
    ></button>

    <button
      mat-flat-button
      type="submit"
      color="primary"
      [textContent]="'TASKS.MODAL.FORM.ACTIONS.VALIDATE' | translate"
      (click)="submitForm()"
    ></button>
  </div>
</app-modal>
