<mat-drawer-container class="main-layout-container" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="mode" [opened]="opened">
    <div class="user-container">
      <div class="user-image"></div>
      <div class="user-name" [textContent]="user?.userName"></div>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" (click)="toggleDrawer()">
        <mat-icon>menu</mat-icon>
      </button>

      <span
        class="app-title pointer"
        [textContent]="'APP.TITLE' | translate"
        [routerLink]="['/app']"
        [matTooltip]="'APP.BACK_TO_MAIN_FEED' | translate"
      ></span>

      <span class="toolbar-spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu" [matTooltip]="'APP.CHANGE_LANG' | translate">
        <img class="flag" src="assets/images/{{ user?.lang }}.png" />
      </button>

      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item class="lang-menu" *ngFor="let lang of acceptedLangs" (click)="changeLang(lang)">
          <img class="flag mr20" src="assets/images/{{ lang }}.png" />
          {{ lang }}
        </button>
      </mat-menu>

      <button mat-icon-button [matTooltip]="'APP.LOGOUT' | translate" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
