.projects-container {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .projects-list {
    width: 100%;

    .projects-list-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .tasks-list {
    width: 600px;
    min-width: 600px;
    max-width: 600px;
  }
}
.project-card {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.projects-section {
  margin-bottom: 30px;

  .section-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
  }
}

.page-title {
  font-size: 30px;
  font-weight: 500;
}