<div class="projects-container">
  <div class="projects-list">
    <div class="projects-list-header mb20">
      <h1 class="page-title" [textContent]="'PROJECTS.LISTS.MY_PROJECTS' | translate"></h1>

      <button mat-flat-button color="primary" (click)="addOneProject()">
        <mat-icon>add</mat-icon>
        {{ 'PROJECTS.LISTS.ADD_NEW' | translate }}
      </button>
    </div>

    <div class="projects-section" *ngIf="onGoingProjects && onGoingProjects.length > 0">
      <div class="section-title">{{ 'PROJECTS.LISTS.ONGOING' | translate }} :</div>

      <div class="project-card" *ngFor="let project of onGoingProjects">
        <app-project-card
          [project]="project"
          (edited)="editNewProject($event)"
          (completed)="completedProject($event)"
          (selected)="selectProject($event)"
          (deleted)="removeOnProject($event)"
        ></app-project-card>
      </div>
    </div>

    <div class="projects-section" *ngIf="completedProjects && completedProjects.length">
      <div class="section-title">{{ 'PROJECTS.LISTS.DONE' | translate }} :</div>

      <div class="project-card" *ngFor="let project of completedProjects">
        <app-project-card
          [project]="project"
          (edited)="editNewProject($event)"
          (completed)="completedProject($event)"
          (selected)="selectProject($event)"
          (deleted)="removeOnProject($event)"
        ></app-project-card>
      </div>
    </div>
  </div>

  <div class="tasks-list">
    <app-project-task-list-container [project]="selectedProject" [userId]="userId"></app-project-task-list-container>
  </div>
</div>

<app-modal
  #modal
  [title]="(modalType === 'NEW' ? 'PROJECTS.MODAL.TITLE.ADD' : 'PROJECTS.MODAL.TITLE.EDIT') | translate"
>
  <div part="body">
    <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="submitForm()">
      <mat-form-field appearance="outline">
        <mat-label [textContent]="'PROJECTS.MODAL.FORM.TITLE.LABEL' | translate"></mat-label>
        <input
          matInput
          required
          [placeholder]="'PROJECTS.MODAL.FORM.TITLE.PLACEHOLDER' | translate"
          [formControlName]="controlNames.TITLE"
        />

        <mat-error *ngIf="titleCtrl?.invalid && (titleCtrl?.dirty || titleCtrl?.touched)">
          <div
            *ngIf="titleCtrl?.hasError('required')"
            [innerHTML]="'PROJECTS.MODAL.FORM.TITLE.REQUIRED' | translate"
          ></div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label [textContent]="'PROJECTS.MODAL.FORM.DESCRIPTION.LABEL' | translate"></mat-label>
        <textarea
          matInput
          class="project-body"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="10"
          [placeholder]="'PROJECTS.MODAL.FORM.DESCRIPTION.PLACEHOLDER' | translate"
          [formControlName]="controlNames.DESCRIPTION"
        ></textarea>
      </mat-form-field>

      <div class="row">
        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'PROJECTS.MODAL.FORM.STARTS_ON.LABEL' | translate"></mat-label>
            <input
              matInput
              [matDatepicker]="startsOnPicker"
              [formControlName]="controlNames.STARTS_ON"
              [placeholder]="'PROJECTS.MODAL.FORM.STARTS_ON.PLACEHOLDER' | translate"
            />
            <mat-hint [textContent]="'PROJECTS.MODAL.FORM.STARTS_ON.FORMAT' | translate"></mat-hint>
            <mat-datepicker-toggle matSuffix [for]="startsOnPicker"></mat-datepicker-toggle>
            <mat-datepicker #startsOnPicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label [textContent]="'PROJECTS.MODAL.FORM.DUE.LABEL' | translate"></mat-label>
            <input
              matInput
              [matDatepicker]="dueOnPicker"
              [formControlName]="controlNames.DUE_ON"
              [placeholder]="'PROJECTS.MODAL.FORM.DUE.PLACEHOLDER' | translate"
            />
            <mat-hint [textContent]="'PROJECTS.MODAL.FORM.DUE.FORMAT' | translate"></mat-hint>
            <mat-datepicker-toggle matSuffix [for]="dueOnPicker"></mat-datepicker-toggle>
            <mat-datepicker #dueOnPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div part="footer" class="w-100 d-flex justify-content-between">
    <button
      mat-flat-button
      type="button"
      [textContent]="'PROJECTS.MODAL.FORM.ACTIONS.CANCEL' | translate"
      (click)="modal.close('cancel')"
    ></button>

    <button
      mat-flat-button
      type="submit"
      color="primary"
      [textContent]="'PROJECTS.MODAL.FORM.ACTIONS.VALIDATE' | translate"
      (click)="submitForm()"
    ></button>
  </div>
</app-modal>
