.project-card {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  .edit-icon {
    width: 17px;
    font-size: 17px;
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
  }

  .project-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dates {
      .label {
        font-weight: 500;
        font-size: 14px;

        .value {
          font-weight: 400;
        }
      }
    }
  }
}

::ng-deep{
  .mat-card-header-text {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
  }
}