<mat-card class="project-card" *ngIf="project">
  <mat-card-header>
    <mat-card-title class="project-card__title">
      <span class="d-flex align-items-center">
        {{ project.title }}

        <div class="status" *ngIf="!project?.completed">
          <mat-icon *ngIf="isOnGoing" class="ml10" color="primary" [matTooltip]="'PROJECTS.STATUS.ONGOING' | translate">
            alarm</mat-icon
          >
          <mat-icon *ngIf="isExpired" class="ml10" color="warn" [matTooltip]="'PROJECTS.STATUS.OVERDUE' | translate"
            >alarm</mat-icon
          >
        </div>
      </span>

      <span class="d-flex align-items-center">
        <span class="completion mr10" *ngIf="project.tasksTotal! > 0">({{ completion }}%)</span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="setStatus()">
            <mat-icon *ngIf="project.completed" class="edit-icon">refresh</mat-icon>
            <mat-icon *ngIf="!project.completed" class="edit-icon">check</mat-icon>
            <span
              [textContent]="
                (project.completed ? 'PROJECTS.ACTIONS.MARK_AS_ONGOING' : 'PROJECTS.ACTIONS.MARK_AS_DONE') | translate
              "
            ></span>
          </button>

          <button mat-menu-item (click)="edited.emit(project)">
            <mat-icon class="edit-icon">edit</mat-icon>
            <span [textContent]="'PROJECTS.ACTIONS.EDIT' | translate"></span>
          </button>

          <button mat-menu-item (click)="deleted.emit(project)">
            <mat-icon>delete</mat-icon>
            <span [textContent]="'PROJECTS.ACTIONS.DELETE' | translate"></span>
          </button>
        </mat-menu>
      </span>
    </mat-card-title>

    <mat-card-subtitle>{{ 'PROJECTS.DATES.UPDATED_AT' | translate }}: {{ updatedAt }}</mat-card-subtitle>
  </mat-card-header>

  <p class="project-card__description">{{ project.description }}</p>

  <mat-card-actions class="project-card-footer">
    <div class="dates">
      <div class="label" *ngIf="project?.startsOn">
        {{ 'PROJECTS.DATES.STARTS_ON' | translate }}: <span class="value">{{ startsOn }}</span>
      </div>
      <div class="label" *ngIf="project?.dueOn">
        {{ 'PROJECTS.DATES.DUE_ON' | translate }}: <span class="value">{{ dueOn }}</span>
      </div>
    </div>

    <button mat-flat-button color="accent" (click)="selected.emit(project)">
      {{ 'PROJECTS.TASKS' | translate }} ({{ project.tasksTotal || 0 }})
    </button>
  </mat-card-actions>
</mat-card>
